<a href="https://colab.research.google.com/github/MirzaQusyairi/internship-ddb-telkom-reports-crawler/blob/main/Internship_DDB_Telkom_Reports_Crawler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
from datetime import timedelta, datetime

import pandas as pd
import requests

In [165]:
url = 'https://api-internship.ddbtelkom.id/api/user/v1/login'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36',
           'Authorization': 'Basic dGVsa29tOmRhMWMyNWQ4LTM3YzgtNDFiMS1hZmUyLTQyZGQ0ODI1YmZlYQ=='}

obj = {
    'email': 'YOUR_EMAIL',
    'password': 'YOUR_PASSWORD'
}

response = requests.post(url, json=obj, headers=headers)
token = response.json()['data'].get('token')
internshipDataID = response.json()['data'].get('internshipData')[0].get('_id')

In [27]:
headers = dict()
headers["Accept"] = "application/json"
headers["Authorization"] = f'Bearer {token}'
headers['User-Agent'] = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36'

In [161]:
weekly_reports = []
daily_reports = []
j = 1

for i in range(25):
  url = f'https://api-internship.ddbtelkom.id/api/user/v1/internship-data/{internshipDataID}/idt/group-by-week/{i+1}'
  response = requests.get(url, headers=headers)
  reports = response.json().get('data')

  if (reports != ''):
    if (reports.get('weeklyIdt') is not None):
      weekly_activity = reports.get('weeklyIdt').get('activity')
      date = reports.get('weeklyIdt').get('fromDate')
      date = datetime.strptime(date, '%Y-%m-%dT%H:%M:%S%z')

      date_format = date.strftime("%B %Y")
      weekly_reports.append([j, date_format, weekly_activity])
      j = j+1

    for report in reports.get('dailyIdt'):
      date = report.get('date')
      date = datetime.strptime(date, '%Y-%m-%dT%H:%M:%S%z')

      date_format = date.strftime("%A, %d %B %Y")
      daily_reports.append([date_format, report.get('activity')])
  else:
    break

In [162]:
df_daily = pd.DataFrame(daily_reports, columns=['Hari', 'Aktifitas'])
df_daily

,Hari,Aktifitas
0,"Monday, 02 January 2023",melanjutkan pengerjaan BDA 6061 implementasi t...
1,"Tuesday, 03 January 2023",melanjutkan pengerjaan BDA 6061 implementasi t...
2,"Wednesday, 04 January 2023",melanjutkan pengerjaan BDA 6061 implementasi t...
3,"Thursday, 05 January 2023",melanjutkan pengerjaan BDA 6061 implementasi t...
4,"Friday, 06 January 2023",melanjutkan pengerjaan BDA 6061 implementasi t...
5,"Monday, 09 January 2023",mengerjakan BDA 6279 implementasi delete colle...
6,"Tuesday, 10 January 2023",melanjutkan pengerjaan BDA 6279 implementasi d...
7,"Wednesday, 11 January 2023",melanjutkan pengerjaan BDA 6279 implementasi d...
8,"Thursday, 12 January 2023",melanjutkan pengerjaan BDA 6279 implementasi d...
9,"Friday, 13 January 2023",sprint review dan sprint retro dipagi hari mem...
10,"Monday, 16 January 2023",sprint planning merencanakan task untuk 2 ming...
11,"Tuesday, 17 January 2023",mengerjakan task BDA 5956 implementasi popup v...
12,"Wednesday, 18 January 2023",melanjutkan pengerjaan task BDA 5956 implement...
13,"Thursday, 19 January 2023",melanjutkan pengerjaan task BDA 5956 implement...
14,"Friday, 20 January 2023",mendapatkan task dadakan BDA 6346 change secti...
15,"Monday, 23 January 2023",None
16,"Tuesday, 24 January 2023","mengerjakan BDA 6322 hide competition page, la..."

In [163]:
df_weekly = pd.DataFrame(weekly_reports, columns=['Minggu ke','Bulan', 'Aktifitas'])
df_weekly

   Minggu ke         Bulan                                          Aktifitas
0          1  January 2023  belajar membuat tampilan baru dari sebuah hala...
1          2  January 2023                   belajar menerapkan endpoint baru
2          3  January 2023           pada minggu ini belajar memperbaiki bug

In [164]:
df_weekly.to_csv('Weekly Report.csv', index=False)
df_daily.to_csv('Daily Report.csv', index=False)